* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

nav {
	padding: 0.8rem;
	margin-bottom: 5px;
	position: sticky;
	background-color: white;
	top: 0px;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	padding-left: 1.5rem;
}

div {
	display: inline-block;
	float: right;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.75rem;
	border-style: none;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-color: black;
	min-height: 50vh;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.front-bg {
	background-color: rgba(0, 0, 0, .50);
	min-height: 50vh;

}

.container {
	color: white;
	/*margin-left: 50rem;*/
	padding-left: 20rem;
	text-align: right;
	border: 3px;
	font-size: 30px;
}

.title {
	font-family: Zilla Slab;
	padding-left: 20rem;
	padding-right: 7rem;
	font-weight: bold;
}

.subtitle {
	padding-right: 7rem;
	padding-left: 32rem;
	padding-top: 2rem;
	font-size: 20px;
	font-weight: normal;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-style: none;
	font-weight: normal;
	margin-right: 7rem;
	margin-top: 1rem;
}



.intro-description {
	padding-top: 2rem;
	padding-right: 12rem;
	padding-left: 12rem;
	padding-bottom: 3rem;
}

.title-2 {
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	font-family: zilla slab;
	font-weight: bold;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 1rem;
}

.prefooter-description {
	padding-top: 0.8rem;
	padding-right: 12rem;
	padding-left: 12rem;
	text-align: center;
}

.book-button {
	background-color: #336589;
	color: white;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-style: none;
	border-radius: 25px;
	font-weight: bold;
	margin-left: 45%;
	margin-top: 0.8rem;
	margin-bottom: 8rem;
}

footer {
	text-align: center;
}

span {
	padding-left: 1rem;
	padding-right: 1rem;
}