#external {
	color: yellow;
}

* {
	font-family: "Verdana", monospace;
	font-size: 20px;
}

h1 {
	font-size: 75px;
}
#header2 {
	text-transform: uppercase;
}
.to-be-learned {
	background-color: green;
}

li[required] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
	width: 100%;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}

