Scenario A -->
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML. -->

<!-- Solution A -->
<label for="username">Username:</label><br>
<input type="text" name="username" maxlength="15"><br>

<br>

<!-- To set the maximum character limit in input field, we use <input> maxlength attribute. This attribute is used to specify the maximum number of characters enters the <input> field. -->

<!-- https://www.tutorialspoint.com/How-to-limit-the-number-of-characters-allowed-in-form-input-text-field#:~:text=To%20set%20the%20maximum%20character,use%20minlength%20attribute. -->

<!-- https://www.w3schools.com/tags/att_input_maxlength.asp#:~:text=The%20maxlength%20attribute%20specifies%20the,in%20the%20element. -->


<!-- Scenario B -->
<!--  You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<!-- Solution B -->
<img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQ5sRqE3ma1GNbJb4zAhrcZmMLh5hOCtZbafBjUEYiIe3eldfvAuyi9JKRCAaGzbgqr42CaOCW79pC8Y9g" alt="golden retriever">
<br>
<!-- You can use the "alt" attribute to provide you with alternative information for an image if a user for some reason cannot view it  -->

<!-- https://www.w3schools.com/tags/att_img_alt.asp#:~:text=The%20required%20alt%20attribute%20specifies,user%20uses%20a%20screen%20reader). -->

<!-- https://developer.mozilla.org/en-US/docs/Web/API/HTMLImageElement/alt -->

<br>

<!-- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- Solution C -->

<code>
     &lt;button&gt;323&lt;/button&gt;
</code>

<!-- http://web.simmons.edu/~grabiner/comm244/weekfour/code-test.html#:~:text=We%20use%20the%20tag,code%20to%20be%20spaced%20properly. -->

<!-- https://stackoverflow.com/questions/33981428/how-to-get-code-as-plain-text -->

<!-- Scenario D -->
<!-- You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

<!-- Solution D -->

<marquee behavior="scroll" direction="up">
<img src="/pix/samples/bee.gif" width="72" height="79" alt="Flying Bee">
</marquee>

<!-- This image has a vertical scroll - it starts at the bottom and moves up. You can adjust the scroll speed by using the scrollamount attribute. You could also create a vertical slide by using behavior="slide" -->

<!-- https://www.quackit.com/html/codes/scrolling_images.cfm -->